.header {
  min-height: 70px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.outlets {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
   overflow: hidden;
  overflow-y: auto;
  background-color: brown;
  color: aqua;
}
.header a {
  font-size: 30px;
  color: aquamarine;
  text-decoration: none;
}

.header a[class="active"] {
  text-decoration: underline;
  color: brown;
}

.lr {
  display: flex;
  color: azure;
  background-color: darkslategray;
}
